body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #eee;
    margin: 20px;
    padding: 20px;
}

.content {
    background-color: #eee;
    margin: 20px;
    padding: 20px;
}

ul.menu {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-right: 10px;
    background: #000;
    color: fff;
}